[Unit]
Description=Gunicorn daemon for Django Project
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/sites/exposures/source
ExecStart=/home/ubuntu/sites/exposures/virtualenv/bin/gunicorn --pythonpath=/home/ubuntu/sites/exposures/source --bind unix:/home/ubuntu/gunicorn.socket exposures.wsgi:application --workers 3
Restart=always
SyslogIdentifier=gunicorn
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target

