{% extends "tables/base.html" %}

{% block content %}
  {% if user.is_staff %}
    <div>
      <a href="/admin/tables/exposure/add/">Lisää uusi</a>
    </div>
  {% endif %}
  <p>
    Tiedotettuja yleisillä paikoilla tapahtuneita altistumisia, joissa kaikkia paikalla olleita ihmisiä ei tiedetä.
    Jos olet ollut näissä paikoissa kyseisinä ajankohtina, olet saattanut altistua koronavirukselle ja seuraavan
    kahden viikon ajan on suositeltavaa välttää ylimääräisiä kontakteja ja ihmisjoukkoja. Mikäli ilmaantuu
    hengitystieinfektion oireita, pitää jäädä kotiin työstä tai koulusta ja hakeutua koronatestiin.
    (Tai koska tartunta saattaa olla oireeton, kenties hakeutua testiin joka tapauksessa.
    Ja välttää kontakteja erityisesti riskiryhmiin kuuluvien kanssa.)
  </p>
  <table class="table table-bordered table-hover table-sm mt-2">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th class="text-left">Altistumisaika</th>
        <th>Paikkakunta</th>
        <th>Paikka</th>
        <th>Tyyppi</th>
        <th>Uutisoitiin</th>
      </tr>
    </thead>
    <tbody>
    {% for exposure in exposures %}
      <tr>
        <td>
          <a href="{% url 'exposure_detail' exposure.id %}">{{ forloop.counter }}</a>
        </td>
        <td class="text-left">
          {{ exposure.display_window }}
        </td>
        <td>{{ exposure.municipality }}</td>
        <td>{{ exposure.location }}</td>
        <td>{{ exposure.location_category.title }}</td>
        <td class="text-right">
            {% if exposure.news_link %}
            <a href="{{ exposure.news_link }}">
              {{ exposure.publish_date|date:"d.m.Y" }}
            </a>
            {% else %}
              {{ exposure.publish_date|date:"d.m.Y" }}
            {% endif %}
            {% if user.is_staff %}
              <a href="/admin/tables/exposure/{{ exposure.pk }}/change/">[edit]</a>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
