{% extends "tables/base.html" %}

{% block content %}
  {% if user.is_staff %}
    <div>
      <a href="/admin/tables/exposure/add/">Lisää uusi</a>
    </div>
  {% endif %}

  <table class="table table-bordered table-hover table-sm mt-2">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Paikkakunta</th>
        <th>Paikka</th>
        <th>Tyyppi</th>
        <th>Altistuneita</th>
        <th>Tapahtui</th>
        <th>Uutisoitiin</th>
      </tr>
    </thead>
    <tbody>
    {% for exposure in exposures %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ exposure.municipality }}</td>
        <td>{{ exposure.location }}</td>
        <td>{{ exposure.display_category }}</td>
        <td class="text-right">{{ exposure.display_total }}</td>
        <td class="text-right">{{ exposure.exposure_date|date:"d.m.Y" }}</td>
        <td class="text-right">
            {% if exposure.news_link %}
            <a href="{{ exposure.news_link }}">
              {{ exposure.publish_date|date:"d.m.Y" }}
            </a>
            {% else %}
              {{ exposure.publish_date|date:"d.m.Y" }}
            {% endif %}
            {% if user.is_staff %}
              <a href="/admin/tables/exposure/{{ exposure.pk }}/change/">[edit]</a>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
