<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Uutisoituja/tiedotettuja korona-altistuksia.">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <title>Altistukset</title>
      {% block external_scripts %}{% endblock %}
      {% block style %}{% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
          <h1 class="text-center mt-5 display-3">Altistukset</h1>
          <p>Uutisoituja/tiedotettuja korona-altistuksia (ei välttämättä kaikkia). Poimittu
            <a href="https://twitter.com/Tqwerty123a">@Tqwerty123a</a>:n twiiteistä,
            <a href="https://altistukset.blogspot.com/">blogista</a> sekä nykyään myös
            <a href="https://am3pladwshcytcj-altistuminen.adb.eu-frankfurt-1.oraclecloudapps.com/ords/r/altistus/altistukset/kaikki-altistukset">
              tästä listasta
            </a>.
            Uutisointipäivämäärät linkkaavat blogiteksteihin.
          </p>
          {% if user.is_staff %}
            <div> <a href="{% url 'add_exposure' %}">[Lisää uusi]</a></div>
          {% endif %}
          {% block content %}{% endblock %}
          <div>
            <small>
              Koodaus ja serverin pystytys/ylläpito: <a href="https://jln.fi">Jarno Luoma-Nirva</a>.
              Koodi on avointa ja saatavilla <a href="https://github.com/jarnoln/exposures">GitHubista</a>.
            </small>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% block script %}{% endblock %}
</html>
