{% extends "tables/base.html" %}

{% block style %}
<style>
#graph {
    border: black 0px solid;
    height: 420px;
}

.exposure-block {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: black 1px solid;
    margin: 2px;
}

.exposure-inner-block {
    display: inline-block;
    width: 14px;
    height: 13px;
}

.category-school {
    background-color: lightblue;
}

.category-daycare {
    background-color: lightgreen;
}

.category-restaurant {
    background-color: pink;
}

.category-other {
    background-color: mediumpurple;
}

.legend {
    transform: translateY(3px);
}

#x-axis {
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-400px) translateY(40px)
}

.x-title {
    display: inline-block;
    margin: 2px;
    transform-origin: top right;
    transform: rotate(45deg);
}
</style>
{% endblock %}

{% block content %}
<div class="my-2">
  <h3>Altistukset päivittäin</h3>
  <div id="graph">
    <div id="x-axis">
      <div v-for="date in Object.keys(exposures)">
        <div class="x-title">[[ exposures[date]['display_date'] ]]</div>
        <div class="exposure-block" v-for="exposure in exposures[date]['exposures']">
          <div :class="getExposureClasses(exposure)">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    Altistuspaikka:
    <div class="legend exposure-block category-daycare">&nbsp</div> Päiväkoti
    <div class="legend exposure-block category-school">&nbsp</div> Koulu
    <div class="legend exposure-block category-restaurant">&nbsp</div> Ravintola
    <div class="legend exposure-block category-other">&nbsp</div> Muu
  </div>
</div>
{% endblock %}

{% block script %}
<script>
var app = new Vue({
  el: '#graph',
  delimiters: ['[[', ']]'],
  data: {
    message: 'Hello Vue!',
    exposures: JSON.parse('{{ exposures_by_date_json|safe }}')
  },
  methods: {
      getExposureClasses: function (exposure) {
          let classes = ['exposure-inner-block']
          classes.push('category-' + exposure.category)
          return classes
      }
  }
})
</script>
{% endblock %}