{% extends "tables/base.html" %}

{% block content %}
  {% include 'tables/snippets/navbar.html' %}
<div class="mt-2">
{% for category in categories %}
  <a class="btn btn-primary btn-sm" href="{% url 'exposures_by_category' %}?category={{ category.name }}">
    {{ category.title }} ({{ category.exposures.count }})
  </a>
{% endfor %}
  <a class="btn btn-primary btn-sm" href="{% url 'exposures_by_category' %}?category=all">
    Kaikki yhteensä ({{ exposures_total }})
  </a>
</div>

{% if selected_category %}
  <h2 id="{{ selected_category.name }}" class="mt-3">{{ selected_category.title }}</h2>
{% else %}
  <h2 id="{{ selected_category.name }}" class="mt-3">Kaikki altistustapahtumat</h2>
{% endif %}

<table class="table table-bordered table-hover table-sm mt-2">
<thead class="thead-light">
  <tr>
    <th>#</th>
    <th>Paikkakunta</th>
    <th>Paikka</th>
    <th>Tartuntoja</th>
    <th>Altistuneita</th>
    <th>Tapahtui</th>
    <th>Uutisoitiin</th>
  </tr>
</thead>
<tbody>
{% for exposure in exposures %}
  <tr>
    <td>
      <a href="{% url 'exposure_detail' exposure.id %}">{{ forloop.counter }}</a>
    </td>
    <td>{{ exposure.municipality }}</td>
    <td>{{ exposure.location }}</td>
    <td class="text-right">{{ exposure.display_infected }}</td>
    <td class="text-right">{{ exposure.display_total }}</td>
    <td class="text-right">{{ exposure.exposure_date|date:"d.m.Y" }}</td>
    <td class="text-right">
        {% if exposure.news_link %}
        <a href="{{ exposure.news_link }}">
          {{ exposure.publish_date|date:"d.m.Y" }}
        </a>
        {% else %}
          {{ exposure.publish_date|date:"d.m.Y" }}
        {% endif %}
        {% if user.is_staff %}
          <a href="/admin/tables/exposure/{{ exposure.pk }}/change/">[edit]</a>
        {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
