{% extends "tables/base.html" %}

{% block content %}
  {% include 'tables/snippets/navbar.html' %}
  <table class="table table-bordered table-hover table-sm mt-2">
    <thead class="thead-light">
      <tr>
        <th>Paikkakunta</th>
        <th>Paikka</th>
        <th>Tyyppi</th>
        <th>Tapahtui</th>
        <th>Uutisoitiin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ exposure.municipality }}</td>
        <td>{{ exposure.location }}</td>
        <td>{{ exposure.location_category.title }}</td>
        <td class="text-right">{{ exposure.exposure_date|date:"d.m.Y" }}</td>
        <td class="text-right">
            {% if exposure.news_link %}
            <a href="{{ exposure.news_link }}">
              {{ exposure.publish_date|date:"d.m.Y" }}
            </a>
            {% else %}
              {{ exposure.publish_date|date:"d.m.Y" }}
            {% endif %}
            {% if user.is_staff %}
              <a href="/admin/tables/exposure/{{ exposure.pk }}/change/">[edit]</a>
            {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
    <table class="table table-bordered table-hover table-sm mt-2">
    <thead class="thead-light">
      <tr>
        <th>Altistuneita</th>
        <th>Tartuntoja</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-right">{{ exposure.display_total }}</td>
        <td class="text-right">{{ exposure.display_infected }}</td>
      </tr>
    </tbody>
  </table>
  <p> {{ exposure.notes|safe }}</p>
  {% if user.is_staff %}
    <div> <a href="/admin/tables/exposure/{{ exposure.pk }}/change/">[edit]</a> </div>
  {% endif %}

{% endblock %}
