{% extends "tables/base.html" %}

{% block content %}
  <div class="my-2">
    {% for municipality, exposures in exposures_by_municipality.items %}
      <a class="btn btn-primary btn-sm my-1" href="#{{ municipality }}">{{ municipality }} ({{ exposures.count }})</a>
    {% endfor %}
  </div>
  <table class="table table-bordered table-hover table-sm">
{% for municipality, exposures in exposures_by_municipality.items %}
    <thead class="thead-light">
      <tr>
        <td class="text-left" id="{{ municipality }}" colspan="6">
          <b>{{ municipality }} ({{ exposures.count }})</b>
        </td>
      </tr>
      <tr>
        <th>#</th>
        <th>Paikka</th>
        <th>Tyyppi</th>
        <th>Karanteenissa</th>
        <th>Tapahtui</th>
        <th>Uutisoitiin</th>
      </tr>
    </thead>
    <tbody>
    {% for exposure in exposures %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ exposure.location }}</td>
        <td>{{ exposure.display_category }}</td>
        <td class="text-right">{{ exposure.display_total }}</td>
        <td class="text-right">{{ exposure.exposure_date|date:"d.m.Y" }}</td>
        <td class="text-right">
            {% if exposure.news_link %}
            <a href="{{ exposure.news_link }}">
              {{ exposure.publish_date|date:"d.m.Y" }}
            </a>
            {% else %}
              {{ exposure.publish_date|date:"d.m.Y" }}
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
{% endfor %}
  </table>
{% endblock %}
