{% extends "tables/base.html" %}

{% block external_scripts %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://d3js.org/d3-scale.v3.min.js"></script>
{% endblock %}

{% block style %}
<style>
#graphsvg {
    border: black 0px solid;
    height: 520px;
}

.block-link:hover {
  outline: dotted 1px blue;
}
</style>
{% endblock %}

{% block content %}
<div class="my-2">
  <h3>Altistustapahtumat päiväkohtaisesti</h3>
  <div id="graph-container">
    <svg width="100%" id="graphsvg"></svg>
  </div>
  <p id="legend">
    <span>Altistuspaikka:</span>
  </p>
  <p>
    Neliöitä klikkaamalla pääsee kyseisen altistustustapahtuman tietoihin.
    Koska varsinainen altistuspäivä ei yleensä ole tiedossa, tapahtumat on järjestetty sen päivän mukaisesti, milloin
    altistuksesta ollaan tiedotettu ensimmäisen kerran.
  </p>
</div>
{% endblock %}

{% block script %}
<script>

const categories = {
    'daycare': {
        'color': '#ffa600',
        'title': 'päiväkoti'
    },
    'school': {
        'color': '#ff6e54',
        'title': 'koulu'
    },
    'restaurant': {
        'color': '#dd5182',
        'title': 'ravintola'
    },
    'nightclub': {
        'color': '#955196',
        'title': 'yökerho'
    },
    'transport': {
        'color': '#444e86',
        'title': 'liikenneväline'
    },
    'other': {
        'color': '#003f5c',
        'title': 'muu'
    }
}

function getExposureHintText(exposure) {
  let hint = exposure.municipality + ':' + exposure.location
  hint += ' Altistuneita: ' + exposure.total
  return hint
}

function addLegend() {
  const legend = d3.select('#legend');
  const legendContainers = legend.selectAll('.legend-container')
    .data(Object.keys(categories))
    .enter()
    .append('div')
      .classed('legend-container', true)
      .style('display', 'inline-block')

  const legendBlock = legendContainers.append('div')
      .style('display', 'inline-block')
      .style('width', '22px')
      .style('margin', '2px')
      .style('background-color', d => categories[d].color)
      .html('&nbsp;')
  const legendText = legendContainers.append('div')
      .style('display', 'inline-block')
      .text(d => categories[d].title)
}

function fillChart(exposures_by_date) {
  console.log('fillChart', exposures_by_date);
  const graph = d3.select('#graphsvg');
  let graphWidth = graph.node().getBoundingClientRect().width;
  let graphHeight = graph.node().getBoundingClientRect().height;
  // Breaks down on large sizes
  if (graphWidth > 1200) {
      graphWidth = 1200
  }
  console.log('graphWidth:', graphWidth, ' graphHeight:', graphHeight)
  const xAxisHeight = 20;
  const xScale = d3.scaleBand().rangeRound([0, graphWidth]).padding(0.1)
      .domain(exposures_by_date.map(d => d.date_key));
  // Size of the blocks (width and height are same)
  const blockSize = xScale.bandwidth()
  const blockSpacing = 2
  const groups = graph.selectAll('g')
    .data(exposures_by_date)
    .enter()
    .append('g');

  // Labels for X-axis (day and month)
  const xLabel = groups.append('text')
    .attr('x', d => xScale(d.date_key))
    .attr('y', graphHeight - xAxisHeight + 10)
    .style('font', d => 'bold ' + (blockSize / 3.5) + 'px sans-serif')
    .text(d => d.display_date);

  const xAxisLine = groups.append('line')
    .style('stroke', 'black')
    .style('stroke-width', '2')
    .attr('x1', d => xScale(d.date_key))
    .attr('y1', graphHeight - xAxisHeight)
    .attr('x2', d => xScale(d.date_key) + blockSize)
    .attr('y2', graphHeight - xAxisHeight)

  // Exposure blocks themselves
  const blocks = groups.selectAll('a')
    .data(d => d.exposures)
    .enter()
    .append('a')
      .classed('block-link', true)
      .attr('href', d => d.news_link)
      .append('rect')
        .classed('block', true)
        .attr('width', blockSize)
        .attr('height', blockSize)
        .attr('x', d => xScale(d.publish_date))
        .attr('y', d => (graphHeight - xAxisHeight) - d.order * (blockSize + blockSpacing))
        .style('fill', d => categories[d.category].color)
        .append('title')
          .text(d => getExposureHintText(d));
}

addLegend();
fetch('/api/exposures_by_date').then(response => response.json()).then(data => fillChart(data));

</script>
{% endblock %}
